.swiper-slide {
  background: #f1f3ff;
  border-radius: 10px;
  padding: 28px;
  width: 45% !important;
}

.main-content {
  height: 250px;
  display: flex;
  align-items: center;
}

.title-slide {
  text-align: center;
}

.desc {
  font-size: 15px;
  font-weight: 600;
}

.fullname {
  font-size: 15px
}

@media screen and (max-width: 660px) {
  .swiper-slide{
    width: 100% !important;
  }
}